# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# Archives
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
*.bz2
*.xz

# Go build/test artifacts
*.test
*.out
coverage.out

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
